<h1></h1>

<table class="table table-bordered table-hover" id="dataTable">
	<thead>
	    <tr>
	        <th>Unpublished Articles ()</th>
	        <th>Author</th>
	        <th>Words</th>
	        <th>Submitted</th>
	    </tr>
	</thead>
	 <tbody>
	 	<% list.forEach(function(item){ %> 
		 	<tr id="tr-id-1" class="tr-class-1">
		 		<td>
	 				<img src="<%= item.image %> />
	 			</td>
	 			<td><a href="<%= item.url %>"><%= item.title %></a></td>
	 			
	 			<td><%= item.words %></td>
	 			<td><%= item.publish_at %></td>
	        </tr>
        <% }); %>
    </tbody>
</table>