
    <table class="table table-bordered table-hover" id="dataTable">
    	<thead>
    	    <tr>
    	        <th class="red-header" data-sortable="false">Unpublished Articles (<% if (amounts) { %><%= amounts %><% } %>)</th>
    	        <th class="red-header" data-sortable="false">Author</th>
    	        <th class="red-header"">Words</th>
    	        <th class="red-header">Submitted</th>
    	    </tr>
    	</thead>
    	<tbody id="articles">
    	   <% list.forEach(function(item){ %> 
    		 	<tr>
    		 		<td>
                        <div class="col-md-1">
                            <a href="<%= item.url %>"><img src="<%= item.image %>" height="50" width="50" /></a>
                        </div>
                        <div class="col-md-11">
                            <h4><a href="<%= item.url %>"><%= item.title %></a></h4>
                        </div>
    	 			</td>
    	 			<td><%= item.profile.first_name %> <%= item.profile.last_name %></td>
    	 			<td><%= item.words %></td>
    	 			<td><%= item.publish_at %></td>
    	     </tr>
        <% }); %>
      </tbody>
    </table>
    <button type="button" id="loadMore" class="btn btn-default" aria-label="">Load more</button>